button {
    font-size: 30px;
}
h1,h2 {
    color: red;
}
nav {
    background-color: black;
}

#signup {
    background-color: black;
    color: cornsilk;
}
.tag {
    text-decoration: underline;
    background-color: transparent;
}
li a {
    color: white;
}
h2 + button {
    background-color: magenta;
}
footer > a {
    color: rosybrown;
}
input[type="password"] {
    color: greenyellow;
}
a[href*="google"]{
    color: peru;
}

button:active {
    background-color: green;
}
.post:nth-of-type(3n) {
    background-color:gray;
}
h2::first-letter {
    font-size: large;
}
p::first-line {
    color: burlywood;
}
p::selection {
    color: crimson;
}
.post button:hover {
    background-color: red;
}
button:hover {
    background-color: olive;
    font-size: 10px;
}
button {
    background-color: paleturquoise //!important;
}
